<!DOCTYPE html>
<html ng-app="MyApp">
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <div ng-controller="HomeCtrl as ctrl">
        <list-view model="contacts" model-item="contact">
            <div>
                <span>ID: </span>
                <input ng-model="contact.id" />
            </div>

            <div>
                <span>Name: </span>
                <input ng-model="contact.name" />
            </div>
        </list-view>
    </div>

    <script src="lib/jquery.js"></script>
    <script src="lib/angular.js"></script>

    <script src="app/app.js"></script>
    <script src="app/HomeCtrl.js"></script>
</body>
</html>
