<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <form method="post" action="/Home/CreateCookie">
            <button>Create Cookie</button>
        </form>
    </div>
</body>
</html>
